:root {
    margin: 0;
    padding: 0;
    --azul: #1D2F57;
    --black: #000000;
    --white: #ffffff;
    --amareloclaro: #E8CC75;
    --amarelomedio: #D3A740;
    --amareloescuro: #d19b43;
}
body{
    background-color: var(--amareloclaro);
} 
h3, p {
    color: var(--azul);
}

/* NAVBAR */
.nav-bar {
    background-color: var(--azul);
    height: 105px;
    width: 100vw;

}
.icons {
    width: 100%;
    padding: 0 30px 0 30px;
}
.icons div {
    z-index: 10;
    
}
.linhas {
    width: 100%;
    max-height: 10px;
}
.splash {
    top: -100px;
    left: -124px;
}
.onda-azul-topo {
    width: 100%;
    max-height: 95px;
}
/* RODAPE */
.rodape {
    background-color: var(--azul);
    width: 100vw;
}
.rodape-redes h3 {
    color: var(--white);
}
.rodape-horarios h3{
    color: var(--amarelomedio);
}
.rodape-horarios p {
     color: var(--amareloclaro);
}



/* HOME */
.corpo {
    height: 300vh;
    background-color: var(--amareloclaro);
}
.epocas-dia div {
    height: 100vh;
}
.noite h2 {
    color: var(--white);
}

/* HISTORIA */
.fundo-claro {
    background-color: var(--amareloclaro);
}
.onda-azul-historia {
    width: 100%;
    max-height: 95px;
}

/* HORARIO */


.pagamento {
    color: var(--amareloclaro);
    background-color: #1D2F57; 
}
.onda-horario {
    width: 100vw;
    max-height: 387px;
}

/* MENU LATERAL */
.menu-lateral {
    z-index: 1000;
    background-color: var(--azul);
    height: calc(100vh - 105px); /* o calc faz a conta em varias escalas */
    width: 40vw;
    gap: 6%;
}
.menu-lateral a {
    color: var(--amareloclaro);
}