body {
    width: 100vw;
    height: 100vh;
}
.teste {
    height: 30vh;
    width: 30vw;
}
.bola {
   position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}